[Desktop Entry]
Name=Sodipodi
Name[da]=Sodipodi
Name[et]=Sodipodi
Comment=Vector illustrator
Comment[da]=Vektor-tegning
Comment[et]=Vektorjoonistusprogramm
Exec=sodipodi
Terminal=0
Type=Application
Icon=sodipodi.png
