[Desktop Entry]
Name=Sodipodi
Name[pt_BR]=Sodipodi
Name[da]=Sodipodi
Name[de]=Sodipodi
Name[et]=Sodipodi
Name[lt]=Sodipodi
Name[no]=Sodipodi
Name[sv]=Sodipodi
Name[tr]=Sodipodi
Comment=Vector illustrator
Comment[pt_BR]=Ilustrador vetorial 
Comment[da]=Vektor-illustrationsprogram
Comment[de]=Vektor-Zeichenprogramm
Comment[et]=Vektorjoonistusprogramm
Comment[lt]=Vektorinis iliustratorius
Comment[no]=Vektor illustrasjonsprogram
Comment[sv]=Vektorillustrationsprogram
Comment[tr]=Vektör boyama uygulamasý
Exec=sodipodi
Terminal=0
Type=Application
Icon=sodipodi.png
